rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{userId} {
			allow read: if request.auth != null && request.auth.uid == userId;
			allow update: if request.auth != null && request.auth.uid == userId;// && (request.resource || !request.resource.data.keys().hasAny(["progress"]));
			allow read, list, delete, update: if request.auth.uid == "ADMINNISSIMMALKA";
		}

		match /reports/{reportId} {
			allow create: if request.auth != null;
			allow read, update: if "/users/" + request.auth.uid == resource.data.reporter;
			allow read, list, delete: if request.auth.uid == "ADMINNISSIMMALKA";
		}
	}
}
