rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /users/{userId} {
			allow read: if request.auth != null && request.auth.uid == userId;
			allow read, list, update: if request.auth.uid == "ADMINid";
		}

		match /reports/{reportId} {
			allow write: if request.auth != null && reportId == "REPORTS_COUNTER" && (request.resource.data.count == resource.data.count + 1 || request.auth.uid == "ADMINid");
			allow create: if request.auth != null && "/users/" + request.auth.uid == request.resource.data.reporter;
			allow read: if "/users/" + request.auth.uid == resource.data.reporter;
			allow read: if request.auth != null && reportId == "REPORTS_COUNTER";
			allow read, list, delete: if request.auth.uid == "ADMINid";
		}
	}
}
