@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    overflow: hidden;
}

button {
    position: absolute;
    top: 26%;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 70px;
}

.progress-header {
    font-family: 'Varela Round', sans-serif;
}

.settings-icon {
    position: absolute;
    top: 4.5%;
    left: 8%;
}

.settings-icon:hover {
    color: #333638;
}

.emergency-icon {
    color: #dc3545;
    position: absolute;
    bottom: 5%;
}

.emergency-icon:hover {
    color:#bb2d3b;
}

.popup {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 18%;
}