@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

h1, h2 {
    line-height: 1.45;
    padding: 10px;
}

.welcome-header {
    font-family: 'Suez One', serif;
    font-size: 94px;
}

.stopit-header {
    font-family: 'Paytone One', sans-serif;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.form-welcome {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}